body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.movie_app {
  width: 1024px;
  margin: auto;
}

.search input {
  width: 100%;
  line-height: 2;
  padding: 10px 15px;
  border: 1px solid #ddd;
  box-sizing: border-box;
}

.movieContainer ul {
  margin: auto;
  list-style: none;
  padding: 0;
  border: 1px solid #ddd;
  max-height: calc(100vh - 100px);
  overflow-y: auto;
}

.movieContainer ul li {
  padding: 15px;
  border-bottom: 1px solid #ddd;
  cursor: pointer;
}

.loader {
  border: 10px solid #f3f3f3;
  border-radius: 50%;
  border-top: 10px solid #3498db;
  width: 20px;
  height: 20px;
  animation: spin 2s linear infinite;
  margin: auto;
}

/* Safari */
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
